/* Navbar container */
.navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 98%;
  z-index: 1000;

  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  transition: max-height 0.5s ease, padding 0.5s ease;
  overflow: hidden;
  max-height: 70px; /* only header visible by default */
  padding: 10px 0px 10px 10px;
}

/* Expand navbar when hovering */
.navbar:hover {
  max-height: 200px; /* enough to reveal all tabs */

}

/* Header (always visible) */
#header {
  font-family: "Segoe UI", sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #333;
  margin: 5px 0;
  padding: 10px 0;
}

/* Nav links container */
.nav-links-pages {
  display: flex;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.nav-links-settings {
  display: flex;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.4s ease;
}

/* Show links when hovered */
.navbar:hover .nav-links-pages {
  opacity: 1;
}

.navbar:hover .nav-links-settings {
  opacity: 1;
}

/* Individual nav links */
.nav-links-pages a {
  text-decoration: none;
  font-size: 16px;
  padding: 8px 14px;
  border-radius: 6px;
  background-color: #1D4ED8;;
  color: white;
  transition: background-color 0.3s, transform 0.2s ease;
}

.nav-links-pages a:hover {
  background-color: #1E40AF;
  transform: scale(1.05);
}

/* Highlight active tab */
.nav-links-pages a.active {
  background-color: #333;
  border: 1px solid white;
  font-weight: bold;
}

.nav-links-settings a {
  text-decoration: none;
  font-size: 16px;
  padding: 8px 14px;
  border-radius: 6px;
  background-color: #1D4ED8;;
  color: white;
  transition: background-color 0.3s, transform 0.2s ease;
}

.nav-links-settings a:hover {
  background-color: #1E40AF;
  transform: scale(1.05);
}

/* Highlight active tab */
.nav-links-settings a.active {
  background-color: #333;
  border: 1px solid white;
  font-weight: bold;
}
