beautifulsoup4==4.13.4
decorator==5.1.1
etelemetry==0.3.1
Flask==3.0.3
flask-limiter==3.11.0
Flask-Login==0.6.3
Flask-SocketIO==5.5.1
Flask-WTF==1.2.2
cryptography==46.0.7
pandas==2.2.3
pyinstaller==6.19.0
pytest==8.4.2
pytest-mock==3.15.1
python-dotenv==1.2.2
reportlab==4.4.10
requests==2.31.0
ruff==0.15.10
simplejson==3.20.2
urllib3==2.6.3
WebOb==1.8.9
