<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lottery Ticket App - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="home-container">
        <h1>Welcome to the Lottery Ticket App</h1>
        <div class="nav-buttons">
            <a href="{{ url_for('scan_tickets') }}"><button class="button">Scan Tickets</button></a>
            <a href="{{ url_for('initialize_database') }}"><button class="button">Initialize Database</button></a>
        </div>
    </div>
</body>
</html>
