<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scan Tickets Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='scan_tickets.css') }}">
    <script>
        function checkLengthAndSubmit() {
            const func_route = "/scan_tickets"
            const input = document.getElementById('scanned_code');
            
            const isValid = /^\d{29}$/.test(input.value);

            if (isValid) {
                const form = document.getElementById('scanForm');
                form.action = func_route;
                form.submit();
            }
        }
        // Wait until the entire page content is loaded
        document.addEventListener("DOMContentLoaded", function () {
            function calculateCashDue() {
                const instantSold = parseFloat(document.getElementById("instant_sold").value) || 0;
                const instantCashed = parseFloat(document.getElementById("instant_cashed").value) || 0;
                const onlineCashed = parseFloat(document.getElementById("online_cashed").value) || 0;
                const onlineSold = parseFloat(document.getElementById("online_sold").value) || 0;

                const totalDue = (instantSold + onlineSold) - (instantCashed + onlineCashed);

                document.getElementById("total_due").value = totalDue.toFixed(2);
            }
            document.getElementById("online_sold").addEventListener("input", calculateCashDue);
            document.getElementById("instant_cashed").addEventListener("input", calculateCashDue);
            document.getElementById("online_cashed").addEventListener("input", calculateCashDue);
        });

        function closeModal() {
            document.getElementById("popupModal").style.display = "none";
        }
        function canSubmit() {
            event.preventDefault();
            document.getElementById("popupModal").style.display = "block";
        }
        function submitFormTo(actionUrl) {
            const form = document.querySelector('.daily-totals-form');
            form.action = actionUrl;
            closeModal();
            form.submit();
        }

    </script>
</head>
<body>
    <!-- Popup Message -->
    <div id="popupModal" class="modal">
        <div class="modal-content">
            <p>Did you make sure your newly activated books are also activated in this system?</p>
            <button onclick="submitFormTo('/submit')" type="submit">YES</button>
            <button onclick="closeModal()">NO</button>
        </div>
    </div>

    <div class="header-bar">
        <h1>Scan Tickets Page</h1>
        <div id="Navigation_Buttons">
            <button onclick="window.location.href='/books_managment'">Books Management</button>
            <button onclick="window.location.href='/'">Home</button>
        </div>
    </div>

    <form method="POST" id="scanForm" class="scan-box">
        <label for="scanned_code"><strong>Scan Ticket:</strong></label><br>
        <input type="text"
               name="scanned_code"
               id="scanned_code"
               placeholder="Scan ticket..."
               autofocus
               required
               oninput="checkLengthAndSubmit()">
        <!-- Submit button is hidden since auto-submit is now enabled -->
        <button type="submit" style="display:none;">Submit</button>

        {% if status_message %}
        <div class="status-message">{{ status_message }}</div>
        {% endif %}
    </form>

    <h2>Activated Tickets</h2>
    <table>
        <thead>
            <tr>
                <th>Game Name</th>
                <th>Game #</th>
                <th>Book ID</th>
                <th>Open</th>
                <th>Close</th>
                <th>Sold</th>
            </tr>
        </thead>
        <tbody>
        {% for book in activated_books %}
            <tr class="row {% if book['countingTicketNumber'] is not none %}scanned{% endif %}">
                <td>{{ book["TicketName"] }}
                <td>{{ book['GameNumber'] }}</td>
                <td>{{ book['ActiveBookID'] }}</td>
                <td>{{ book['isAtTicketNumber'] }}</td>
                <td>
                    {% if book['countingTicketNumber'] is not none %}
                        {{ book['countingTicketNumber'] }}
                    {% else %}
                    <!-- if no input for close column then show a button sold out button -->
                        <form method="POST" action="/book_sold_out">
                            <input type="hidden" name="book_id" value="{{ book['ActiveBookID'] }}">
                            <button type="submit" id="SoldOutButton">Book Sold Out</button>
                        </form>
                    {% endif %}
                </td>
                <td>
                    {% if book['countingTicketNumber'] is not none and book['isAtTicketNumber'] is not none %}
                        {% if counting_order == "descending"%}
                            {{ (book['isAtTicketNumber'] - book['countingTicketNumber']) }}
                        {% else %}
                            {{ ( book['countingTicketNumber'] - book['isAtTicketNumber'] ) }}
                        {% endif %}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td class="x_button_container">
                    {% if book['countingTicketNumber'] is not none %}
                        <form method="POST" action="/undo_scan">
                            <input type="hidden" name="book_id" value="{{ book['ActiveBookID'] }}">
                            <button type="Submit">X</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Report Totals</h2>
    <form method="POST" action="/submit" class="daily-totals-form">
        <label for="instant_sold">Instant Tickets Sold:</label> $
        <input name="instant_sold" id="instant_sold" value="{{instant_tickets_sold_total}}" readonly><br><br>

        <label for="online_sold">Online Tickets Sold:</label>
        <input type="number" name="online_sold" id="online_sold" required><br><br>

        <label for="instant_cashed">Instant Tickets Cashed:</label>
        <input type="number" name="instant_cashed" id="instant_cashed" required><br><br>

        <label for="online_cashed">Online Tickets Cashed:</label>
        <input type="number" name="online_cashed" id="online_cashed" required><br><br>

        <label for="cash_on_hand">Cash On Hand:</label>
        <input type="number" name="cash_on_hand" id="cash_on_hand" required><br><br>

        <label for="total_due">Total Due:</label>
        <input name="total_due" id="total_due" readonly><br><br>

        <button onclick="canSubmit()">Submit</button>
    </form>
</body>
</html>
