<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='Nav.css') }}">
{% block extra_css %}{% endblock %}
</head>
<body>
<div class="navbar">
  <div id="header">
    <label>{% block header %} Header {% endblock %}</label>
  </div>
  <div class="nav-links">
    <a href="/edit_reports" class="{% if request.path == '/edit_reports' %}active{% endif %}">Edit Reports</a>
    <a href="/books_managment" class="{% if request.path == '/books_managment' %}active{% endif %}">Books Management</a>
    <a href="/scan_tickets" class="{% if request.path == '/scan_tickets' %}active{% endif %}">Scan Tickets</a>
    <a href="/" class="{% if request.path == '/' %}active{% endif %}">Home</a>
  </div>
  <div class="nav-links-settings">
    <a href="/settings" class="{% if request.path == '/settings' %}active{% endif %}">Settings</a>
    <a href="/business_profile" class="{% if request.path == '/business_profile' %}active{% endif %}">Business Profile</a>
  </div>
</div>

<div class="content">
{% block content %}{% endblock %}
</div>
</body>
</html>
