
input[type="text"] {
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 6px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4f46e5;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #4338ca;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    text-align: center;
    padding: 12px;
    border: 1px solid #ddd;
}


/*Edit Button*/
.edit_button img{
    width: 30px;
    height: 30px;
    filter: invert(1);
}

th {
    background-color: rgb(230, 230, 230);
}

tr.row {
    background-color: rgb(243, 244, 246); 
    font-weight: bold;
}

.modal {
    display: none; /* Show on load */
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5); /* Transparent dark background */
}

/* Error message display css */
.flash-message {
    margin: 20px auto;
    padding: 12px 20px;
    width: 90%;
    max-width: 800px;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    opacity: 1;
    transition: opacity 1s ease-out; /* Smooth fade-out */
}

.flash-message.success {
    background-color: #d1fae5;
    color: #065f46;
    border: 1px solid #10b981;
}

.flash-message.error {
    background-color: #fee2e2;
    color: #991b1b;
    border: 1px solid #ef4444;
}

